$dark-grey: #56524A;
$medium-grey: #7B756B;
$medium-light-grey: #989283;
$light-grey: #B9B3AA;
$lighter-grey: #F4F4F0;

$blue: #0072B5;

$water-quality: $blue;
$habitat-and-ecological-health: #5CAA46;
$port-and-maritime: #893684;
$public-access: #7E4B31;
$community-engagement: #ED861D;
