@import "../styles/fonts";

html {
  box-sizing: border-box;
  overflow: hidden;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: $font-primary;
  font-style: normal;
  font-weight: 400;
}

.App {
  display: flex;
  flex-direction: row;
}
