@import '../styles/colors';
@import '../styles/grid';
@import './Sidebar';

.Filters {
  border-bottom: 1px solid $sidebar-border-color;
  flex: 0 1 auto;
  padding-bottom: $sidebar-spacing;
}

.Filters h2 {
  font-size: 14px;
  margin-top: 0;
}

.Filters label {
  font-size: 12px;
}

.Filters-goals {
  margin-bottom: 20px;
}

.Filters-goal-pickers {
  display: flex;
  justify-content: space-around;
}

.Filters-goal {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  width: 18%;
}

.Filters-goal-icon {
  margin: 0 auto;
  max-width: 45px;
  opacity: 0.6;
  width: 70%;
}

.Filters-goal.active .Filters-goal-icon {
  opacity: 1;
}

.Filters-goal-name {
  color: black;
  font-size: 13px;
  line-height: 17px;
  margin-top: 4px;
  text-align: center;
}

.Filters-goal.active .Filters-goal-name {
  font-weight: bold;
}

.Filters-goal.active {
  &.water-quality .Filters-goal-name {
    color: $water-quality;
  }

  &.habitat-and-ecological-health .Filters-goal-name {
    color: $habitat-and-ecological-health;
  }

  &.port-and-maritime .Filters-goal-name {
    color: $port-and-maritime;
  }

  &.public-access .Filters-goal-name {
    color: $public-access;
  }

  &.community-engagement .Filters-goal-name {
    color: $community-engagement;
  }
}

.Filters-monitoring-status {
  margin-bottom: 15px;

  h2 {
    font-weight: normal;
    margin-bottom: 0;
    margin-top: 0;
  }

  ul {
    line-height: 18px;
    list-style: none;
    margin: 0;
    padding-left: 0;
  }

  .monitoring-status {
    cursor: pointer;

    & label {
      color: black;
      cursor: pointer;

      &:hover {
        color: $dark-grey;
      }
    }
  }

  .monitoring-status.active {
    font-weight: bold;
  }

  .monitoring-status-icon {
    background: $medium-light-grey;
    border: 1px solid transparent;
    display: inline-block;
    margin-right: 5px;
    height: 10px;
    width: 10px;

    &.status-active {
      border-radius: 50%;
    }

    &.status-non-active {
      background: transparent;
      border-color: $dark-grey;
      border-radius: 50%;
    }
  }
}

.Filters-indicator {
  margin-bottom: 10px;
}

.Filters-filter {
  display: flex;
}

.Filter-label {
  text-align: right;
  margin-right: $gutter;
  width: 33%;
}

.Filter-input {
  flex: 1 1 auto;
}

@media (max-height: 750px) {
  .Filters {
    padding-bottom: $sidebar-spacing-small;
  }

  .Filters label {
    font-size: 10px;
    line-height: 16px;
  }

  .Filters-goal-name {
    font-size: 10px;
    line-height: 16px;
  }
}
