@import '../styles/colors';
@import '../styles/fonts';
@import '../styles/grid';

.Footer {
  display: flex;
  font-size: 12px;
  height: 72px;
  padding-top: 20px;
}

.Footer-left {
  margin-right: $gutter;
  text-align: right;
  width: 33%;
}

.Footer-right {
}

.Footer-button {
  background: transparent;
  border: none;
  color: black;
  cursor: pointer;
  font-family: $font-primary;
  font-size: 14px;
  padding: 0;
  text-decoration: none;

  &:hover {
    color: $blue;
  }
}
