.MapboxMap-container {
  flex: 1 1 auto;
  float: left;
  height: 100vh;
  width: 66%;

  &.over-feature * {
    cursor: pointer;
  }
}

@media (max-width: 1000px) {
  .MapboxMap-container {
    width: 50%;
  }
}
