@import '../styles/grid';
@import './Sidebar';

.Popup {
  border-bottom: 1px solid $sidebar-border-color;
  flex: 1 1 auto;
  overflow-x: hidden;
  overflow-y: auto;
  padding: $sidebar-spacing 0;
  font-size: 12px;
}

.Popup-row {
  display: flex;
  margin: 3px 0;
}

.Popup-label {
  flex: 0 0 auto;
  font-weight: bold;
  margin-right: $gutter;
  text-align: right;
  width: 33%;
}

@media (max-height: 750px) {
  .Popup {
    padding: $sidebar-spacing-small 0;
  }
}
