@import '../styles/colors';

$sidebar-spacing: 28px;
$sidebar-spacing-small: 20px;
$sidebar-border-color: rgba(123, 117, 107, 0.5);

.Sidebar {
  background-color: #E9E9E2;
  float: left;
  height: 100vh;
  width: 34%;
}

.Sidebar-main {
  display: flex;
  flex-direction: column;
  height: calc(100% - 95px);
  padding: 0 $sidebar-spacing;
}

.Sidebar-logos {
  background-color: rgba(255, 255, 255, 0.5);
  height: 95px;
  padding-left: $sidebar-spacing;
}

.Sidebar-logo {
  display: inline-block;
  margin-left: 20px;
  margin-top: 15px;
}

.Sidebar-logo:first-of-type {
  margin-left: 0;
}

.Sidebar-header {
  border-bottom: 1px solid $sidebar-border-color;
  margin: $sidebar-spacing 0;
  padding-bottom: $sidebar-spacing;
}

.Sidebar-header-organization {
  color: $dark-grey;
  font-size: 34px;
  font-weight: normal;
  line-height: 38px;
  text-align: center;
}

.Sidebar-header-project {
  color: $dark-grey;
  font-size: 18px;
  font-weight: 200;
  letter-spacing: 1.1px;
  text-align: center;
  text-transform: uppercase;
}

@media (max-height: 750px) {
  .Sidebar-main {
    padding: 0 $sidebar-spacing-small;
  }

  .Sidebar-header {
    margin: $sidebar-spacing-small 0;
    padding-bottom: $sidebar-spacing-small;
  }

  .Sidebar-header-organization {
    font-size: 20px;
    line-height: 28px;
  }

  .Sidebar-header-project {
    font-size: 12px;
    line-height: 18px;
  }
}
